.table-title {
    font-size: 25px;
    margin: 5px 20px 20px;
    color: #0f0963;
}

.table-bar {
    position: relative;
    text-align: center;
}

.table-button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
}

.navigate-button {
    border: 2px solid #9e9e9e;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 15px;
    width: 15px;
}

.navigate-button:hover {
    border: 2px solid #0f0963;
}

.red-border {
    border: 2px solid #e11129;
}

.navigate-button-next {
    background: url("../pictures/next.png") no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: transparent;
}

.navigate-button-prev {
    background: url("../pictures/prev.png") no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: transparent;
}

.simple-little-table
{
    font-family: Century Gothic, serif;
    color: rgba(0,0,0, 1);
    font-size:12px;
    margin: auto;
    border:#ccc 1px solid;
    border-collapse:separate;
    background: url("../pictures/map.png") no-repeat 0 60px;
    background-size: 920px auto;
}

.simple-little-table th
{
    font-weight: bold;
    color: #000000;
    padding: 25px 24px;
    background: transparent;
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
}

.simple-little-table th:first-child
{
    text-align: center;
    padding-left: 20px;
}

.simple-little-table tr
{
    text-align: center;
    padding-left:20px;
}

.simple-little-table tr td:first-child
{
    text-align: center;
    padding-left:20px;
    border-left: 0;
}

.simple-little-table tr td
{
    padding: 18px;
    background: rgba(230,230,230, 0.3);
}

.simple-little-table tr:nth-child(even) td
{
    background: rgba(183,183,183, 0.2);
}

.simple-little-table tr:last-child td
{
    border-bottom:0;
}

.simple-little-table tr:hover td
{
    background: rgba(50,50,50, 0.1);
}

.check-column {
    height: 20px;
    width: auto;
    margin: 0;
}

.luggage-table {
    background: url("../pictures/luggage.png") no-repeat center;
    background-size: 50%;
}